@model TrainingModel
@{
    ViewData["Title"] = "Training Page";
}


<div class="container">
    <form method="get" asp-action="Trainingen" asp-controller="Training">
        @for (int w = 1; w <= Model.Weeks; w++)
        {
            <h3>@Model.TrainingDict.FirstOrDefault(x => x.Key == $"Week {w}").Key <small class="text-muted">Trainingsschema</small></h3>
            <div class="row">
                @foreach (var training in Model.TrainingDict.FirstOrDefault(x => x.Key == $"Week {w}").Value)
                {
                    <div class="col-sm-4 pt-2 pb-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@training</h5>
                                <p class="card-text">Duur: ~@Model.Time minuten <br>Afstand: Km<br> Snelheid:  Per/Km </p>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="trainingList" value="@training" id="flexCheckDefault">
                                    <label class="form-check-label" for="trainingList">
                                        Training Voltooit
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        }
            <div class="row">
                <div class="col pt-2 pb-2">
                    <div class="card">
                        <div class="card-body">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Afgerond</button>
                        </div>
                    </div>
                </div>
            </div>

    </form>
</div>

