@model Training
@{
    ViewData["Title"] = "Training Page";
}


<div class="training-container">
    @for (int w = 1; w <= Model.Weeks; w++)
    {
        <h3>@Model.TrainingDict.FirstOrDefault(x => x.Key == $"Week {w}").Key</h3>
        @foreach (var training in Model.TrainingDict.FirstOrDefault(x=> x.Key == $"Week {w}").Value)
        {
            <div class="training-card">
                <div class="training"><h5>@training</h5></div>
            </div>
        }
    }
</div>
