@model TrainingModel
@{
    ViewData["Title"] = "Training Page";
}


<div class="container">
    <form method="get" asp-action="Trainingen" asp-controller="Training">
        @for (int w = 1; w <= Model.Weeks; w++)
        {
            <h3>@Model.TrainingDict.FirstOrDefault(x => x.Key == $"Week {w}").Key <small class="text-muted">Trainingsschema</small></h3>
            <div class="row">
                @foreach (var training in Model.TrainingDict.FirstOrDefault(x => x.Key == $"Week {w}").Value)
                {
                    <div class="col-sm-4 p-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" style="width:20px; height:20px" type="checkbox" name="trainingList" value="@training" id="flexCheckDefault">
                                    <label class="form-check-label text-muted ml-2" for="trainingList">
                                        @training
                                    </label>
                                </div>
                                <p class="card-text">Duur: ~@Model.Time minuten</p>
                            </div>
                        </div>
                    </div>
                }
            </div>

        }
        <button type="submit" class="btn btn-primary">Afgerond</button>
    </form>
</div>

