@model Dictionary<string, List<string>>
@{
    ViewData["Title"] = "Training Page";
}


<div class="training-container">
    <h3>@Model.FirstOrDefault(x => x.Key == "Week 1").Key</h3>
    <div class="training-card">
        @foreach (var training in Model.FirstOrDefault(x => x.Key == "Week 1").Value)
        {
            <div class="training"><h5>@training</h5></div>
        }
    </div>
    <h3>@Model.FirstOrDefault(x => x.Key == "Week 2").Key</h3>
    <div class="training-card">
        @foreach (var training in Model.FirstOrDefault(x => x.Key == "Week 2").Value)
        {
            <div class="training"><h5>@training</h5></div>
        }
    </div>
</div>