<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectD</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-1">
                    <a class="nav-link text-white h4" asp-area="" asp-controller="User" asp-action="UserData">Gebruiker</a>
                </div>
                <div class="bg-dark p-1">
                    <a class="nav-link text-white h4 active" asp-area="" asp-controller="Home" asp-action="Index">0-Meting</a>
                </div>
                <div class="bg-dark p-1">
                    <a class="nav-link text-white h4" asp-area="" asp-controller="Training" asp-action="Trainingen">Mijn trainingen</a>
                </div>
                <div class="bg-dark p-1">
                    <a class="nav-link text-white h4" asp-area="" asp-controller="Geschiedenis" asp-action="Geschiedenis">Geschiedenis</a>
                </div>

            </div>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>





    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ProjectD
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
