@model User

@{
    ViewData["Title"] = "User Page";
}

<div class="user-card">
    <img src=@Model.ImageUrl />
    <h3>@Model.Fullname</h3>
    <h5>Lid sinds @Model.MemberSince</h5>
    <h5>@Model.AvrgHeartRate</h5>
</div>
