@{
    ViewData["Title"] = "Home Page";
}
<form asp-action="Trainingen" asp-controller="Training">
    <input type="text" id="TrainingFrequency" placeholder="Your name goes here" name="TrainingFrequency" />
    <input type="text" id="Time" placeholder="Your name goes here" name="Time" />
    <input type="submit" />
</form>