@{
    ViewData["Title"] = "Home Page";
}
<form asp-action="Trainingen" asp-controller="Training">
    <input type="text" id="TrainingFrequency" placeholder="4 keer" name="TrainingFrequency" />
    <input type="text" id="Goal" placeholder="20 km" name="Goal" />
    <input type="text" id="WeeklyGoal" placeholder="1-5km" name="WeeklyGoal" />
    <input type="submit" />
</form>